paddy_disease_classification

prediction_script.py

desktop.ini

trained_model

Statistics.ipynb

cropcare_model.py

data_processor.py

train_model.ipynb

Knowledge.json
Shops.json
disease_data.csv